/* Estilos gerais */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Estilizção do Carousel */

.main_container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
}

.title_carrossel {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: max(48px, min(5vw, 76px));
  line-height: 1;
  letter-spacing: -0.05em;
}

.carousel_container {
  width: 100%;
  margin: 0 auto;
}

.carousel_img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

/* Estilizção dos cards */

.card-list {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
}

.card-list title {
  color: #333;
}

.card {
  float: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 30%;
  height: 330px;
  margin: 20px;
  box-shadow: 10px 5px 5px rgb(160, 160, 160);
}

.card .image {
  height: 200px;
}

.content {
  padding: 10px;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rounded-image {
  padding-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* Barra de navegação */

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: nowrap !important;
}

.footer_container {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: nowrap !important;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: 20px;
  width: 10rem;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  line-height: 50px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: #555;
  border-bottom: solid 3px rgb(160, 160, 160);
}

/* Menu responsivo */
.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* footer */
.social {
  text-align: center;
  border-left: solid 1px rgb(160, 160, 160);
  padding: 5px 20px;
  cursor: pointer;
}

.social-icon {
  font-size: 1.5rem;
  padding-right: 10px;
}

/* Estilos responsivos */
/* Tela grande (até 1200px) */
@media screen and (max-width: 1200px) {
  .card {
    width: 33%; /* 3 cards em telas grandes */
    margin: 0;
    padding: 10px;
  }
}

/* Tela média (até 900px) */
@media screen and (max-width: 900px) {
  .card {
    width: 50%; /* 2 cards em telas médias */
  }
}

/* Tela pequena (até 600px) */
@media screen and (max-width: 600px) {
  .card {
    width: 100%; /* 1 card em telas pequenas */
  }

  /* Barra de navegação */
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #333;
    width: 170px;
    z-index: 1;
  }

  .menu.show {
    display: flex;
  }

  .menu li:hover {
    border-left: solid 8px #94a500;
  }
}
